
.vscode/settings.json
**.sdf
**.mol2
**.DS_Store
**checkpoint.ipynb
**.log
**.tar
**.gz
**.ipynb_checkpoints
**.*.ipynb
**/._*
**/*.svg
**/*.pdf
**__pycache__
*/1_Download_and_prepare_protein_ensembles/pdb_structures/*
*/2_Molecular_libraries/temp
*/2_Molecular_libraries/datasets/DEKOIS2/mol2/*.tar
*/2_Molecular_libraries/rdkit_fingerprints_all_libraries_no_duplicates.obj
*/3_Protein_Ensembles_Analysis/*_ALL.pdb
*/5_Machine_Learning/cachedir/joblib/*
*/4_Ensemble_docking_results/temp_dk_results/
**/*.npy
**/res_*.pdb
**/res_*.dx
**/old_*.ipynb
**/TEST_*.ipynb